<!-- Masthead -->


<section class="page-section bg-primary" id="comments">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <div class="avatar">
                    <img src="{{scrap.[0].avatar}}" class="avatar">
                </div>

                <form class="form-inline">
  <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
  <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
    <input type="text" class="form-control" id="username" placeholder="Username">
     <button class="btn btn-primary" id="submit" href="/scrap" >Search account</button>
  </div>

                </form>
                 
               
                <hr>
            </div>

        </div>

        <div class="scrap-container" id="scrap-container">
            {{#each scrap}}
            <div class="news-div rounded my-3" style="padding:5vh">
                
                    <div class="row">
                        <div class="col-12">
                    <h4>{{link}}</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                    <h6><strong>{{title}}</strong></h6>
                        </div>

                    </div>
                                        
                    </button>
                                        <div class="card card-body">
                        <form action="/addcomment/{{_id}}" method="POST">

                                <div class="form-group row">
                                        <div class="col-10">
                                        <input class="form-control"  id="comment" name="comment" placeholder="Add a comment"></input>
                                        </div>
                                    
                                        <div class="col-2" >
                                        <button id="submit" type="submit" class="btn btn-primary btn-block"><i class="fa fa-comment-o" aria-hidden="true"></i>Comment</button>
                                        </div>
                                </div>
                        {{#each comments}}
                    <div class=" row">
                        <div class="col-10">
                            <input class="form-control" type="text" value="{{this}}" readonly>
                        </div>

                        <div class="col-2">
                        <form  action="/deletecomment/{{../_id}}/{{@index}}" method="POST">
                            <button type="submit" class="btn btn-danger btn-block"><i class="fa fa-trash-o" aria-hidden="true"></i>Delete
                                </button>
                        </form>
                        </div>
                        

                    </div>
                    <hr>
                    {{/each}}
                                
                        </form>
                    </div>



               



                


                
            </div>
            {{/each}}
        </div>
    </div>
</section>